### Load in necessary libraries

In [1]:
import os
import sys
import gc
import numpy as np
import pandas as pd

In [2]:
home = os.path.expanduser("~")
sys.path.append(f"{home}/Documents/projects/CarPriceRegression/Data_Process/scripts/")

In [3]:
from util import *
%load_ext autoreload
%autoreload 2

### Import all data

In [10]:
DIRPATH = f"{home}/Documents/projects/CarPriceRegression/carPrice/"
EXT = ".csv"

In [11]:
data = readData(DIRPATH,EXT)

In [12]:
data.shape

(99187, 9)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99187 entries, 0 to 10667
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         99187 non-null  object
 1   year          99187 non-null  int64
 2   price         99187 non-null  int64
 3   transmission  99187 non-null  object
 4   mileage       99187 non-null  int64
 5   fuelType      99187 non-null  object
 6   tax           99187 non-null  int64
 7   mpg           99187 non-null  float64
 8   engineSize    99187 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 7.6+ MB

In [14]:
data.describe()

,year,price,mileage,tax,mpg,engineSize
count,99187.000000,99187.000000,99187.000000,99187.000000,99187.000000,99187.000000
mean,2017.087723,16805.347656,23058.914213,120.299838,55.166825,1.663280
std,2.123934,9866.773417,21148.523721,63.150926,16.138522,0.557646
min,1970.000000,450.000000,1.000000,0.000000,0.300000,0.000000
25%,2016.000000,9999.000000,7425.000000,125.000000,47.100000,1.200000
50%,2017.000000,14495.000000,17460.000000,145.000000,54.300000,1.600000
75%,2019.000000,20870.000000,32339.000000,145.000000,62.800000,2.000000
max,2060.000000,159999.000000,323000.000000,580.000000,470.800000,6.600000

### Observation:

* There are zero null value 
* model and transmission are object type and rest are numeric type

### Garbage Collect

In [15]:
gc.collect()
%reset -f out

Flushing output cache (4 entries)