-----
### Import necessary libraries

In [1]:
import os
import sys
import gc
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
home = os.path.expanduser("~")

### Import data

In [3]:
data = pd.read_csv(f"{home}/Documents/projects/CarPriceRegression/Processed_Data/car_data_merged.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99186 entries, 0 to 99185
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   model          99186 non-null  object
 1   price          99186 non-null  int64
 2   transmission   99186 non-null  object
 3   fuelType       99186 non-null  object
 4   brand          99186 non-null  object
 5   binned_year    99186 non-null  int64
 6   mil_cat        99186 non-null  int64
 7   binned_mpg     99186 non-null  int64
 8   engine_binned  99186 non-null  int64
dtypes: int64(5), object(4)
memory usage: 6.8+ MB

### Garbage collect

In [5]:
gc.collect()
%reset -f out

Flushing output cache (0 entries)

------

### Ordinal categorical features:
 - have some order associated 
* binned_year:
  * 0: oldest, 1: within yrs, 2: over 5 yrs, 3: within 5 years, and 4: newest 
* mil_cat:
  * 0: least milage, 1: low mileage, 2: relativley low mileage, 3: under 60000, 4: under 100000, and 5: over 100K mileage
* binned_mpg:
  * 0: low mpg, 1: reasonable mpg, 2: high mpg, 3: very high mpg, 4: unsually high mpg (eletric most likely) 
* engine_binned:
  * 0: small engine, 1: medium size, 2: large
  
#### Will use the ordinal encoding since a natural ordering is already binned for regression models

-----
### Nominal categorical features
  - represent various traits of observations but no inherent order of precedence
* model 
* transmission 
* fuelType
* brand

#### These features don't have inherent ranking so dummy variable encoding will be used:
* won't drop any features for categories of when non of the type fits

In [6]:
data_onehot = pd.get_dummies(data,columns=["model","transmission","fuelType","brand"],drop_first=False)
data_onehot.shape

(99186, 220)

In [7]:
data_onehot.head()

,price,binned_year,mil_cat,binned_mpg,engine_binned,model_ 1 Series,model_ 2 Series,model_ 3 Series,model_ 4 Series,model_ 5 Series,...,fuelType_Petrol,brand_audi,brand_bmw,brand_ford,brand_hyundi,brand_merc,brand_skoda,brand_toyota,brand_vauxhall,brand_vw
0,16000,3,2,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,15995,3,2,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,13998,2,2,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,18998,3,2,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,17498,3,3,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [8]:
data_onehot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99186 entries, 0 to 99185
Columns: 220 entries, price to brand_vw
dtypes: int64(5), uint8(215)
memory usage: 24.1 MB

In [9]:
data_onehot.to_csv(f"{home}/Documents/projects/CarPriceRegression/Processed_Data/car_onehot_data.csv",index=False)

### We will use this table as a base table for sklearn models and xgboost regression

_____